<div class="wrapper">

	<!-- HOME -->
	<section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/77PTVtu.jpg" style="background-image: url('http://i.imgur.com/77PTVtu.jpg');">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h1 class="module-title font-alt align-center">Classes</h1>

					<div class="module-subtitle font-inc align-center">
						Inhale the future, exhale the past,<br>Live in the moment.
					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

		</div>

	</section>
	<!-- /HOME -->

  <section class="module p-b-0">

		<div class="container">

			<div class="row multi-columns-row post-columns">

				<!-- POST ITEM -->
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="post">
						<div class="post-thumbnail">
							<a href="blog-single.html"><img src="http://i.imgur.com/WVCtadY.png" alt="" style="height: 150px; width: auto;"></a>
						</div>
						<div class="post-header">
							<h2 class="post-title font-alt"><a href="blog-single.html">Slow Flow Yoga</a></h2>
							<div class="post-meta font-inc">
								Mondays | Wednesdays
							</div>
						</div>
						<div class="post-entry">
							<p>Classes are $8, cash only please.</p>
						</div>
						<div class="post-more font-inc">
							<a href="" class="more-link">Sign Up</a>
						</div>
					</div>
				</div>
				<!-- /POST ITEM -->

				<!-- POST ITEM -->
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="post">
						<div class="post-thumbnail">
							<a href="blog-single.html"><img src="http://i.imgur.com/3pfmmxW.png" alt="" style="height: 150px; width: auto;"></a>
						</div>
						<div class="post-header">
							<h2 class="post-title font-alt"><a href="blog-single.html">Yoga Studio</a></h2>
							<div class="post-meta font-inc">
								Tuesdays and Thursdays | 10am and 12pm
							</div>
						</div>
						<div class="post-entry">
							<p>Classes are $10 and are filled on a first come, first serve basis. Classes are suitable for all levels of yoga practice.</p>
						</div>
						<div class="post-more font-inc">
							<a href="" class="more-link">Sign Up</a>
						</div>
					</div>
				</div>
				<!-- /POST ITEM -->

				<!-- POST ITEM -->
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="post">
						<div class="post-thumbnail">
							<a href="blog-single.html"><img src="http://i.imgur.com/7jVYqoP.png" alt="" style="height: 150px; width: auto;"></a>
						</div>
						<div class="post-header">
							<h2 class="post-title font-alt"><a href="blog-single.html">Private Classes</a></h2>
							<div class="post-meta font-inc">
								As Available | As Available
							</div>
						</div>
						<div class="post-entry">
							<p>Private classes are available upon request and can be hosted in your home, office, etc. Prices vary depending on group size.</p>
						</div>
						<div class="post-more font-inc">
							<a href="" class="more-link">Sign Up</a>
						</div>
					</div>
				</div>
				<!-- /POST ITEM -->

				<!-- POST ITEM -->
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="post">
						<div class="post-thumbnail">
							<a href="blog-single.html"><img src="http://i.imgur.com/z2r3RZs.png" alt="" style="height: 150px; width: auto;"></a>
						</div>
						<div class="post-header">
							<h2 class="post-title font-alt"><a href="blog-single.html">Video Classes</a></h2>
							<div class="post-meta font-inc">
								Mondays, Wednesdays, and Fridays | 10am, 12pm, and 2pm
							</div>
						</div>
						<div class="post-entry">
							<p>Can't leave your home? Chair yoga sessions are available via live video session. $10 for group classes or $25 for private classes.</p>
						</div>
						<div class="post-more font-inc">
							<a href="" class="more-link">Sign Up</a>
						</div>
					</div>
				</div>
				<!-- /POST ITEM -->

			</div>

		</div>

	</section>

</div>
