<div class="wrapper">
  <section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/FLW3LNV.jpg" style="background-image: url('http://i.imgur.com/FLW3LNV.jpg');">

    <div class="container">

      <!-- MODULE TITLE -->
      <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <h1 class="module-title font-alt align-center">Contact</h1>

          <div class="module-subtitle font-inc align-center">
            Inhale the future,<br>Exhale the past.
          </div>

        </div>

      </div>
      <!-- /MODULE TITLE -->

    </div>

  </section>
  <section class="module">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h2 class="module-title align-center font-alt">Get in touch</h2>

					<div class="module-subtitle align-center font-inc">
						Email me regarding class scheduling, pricing, group rates, or general questions!
					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

      <h2 class="align-center">Contact Coming Soon</h2>

		</div>

	</section>
</div>
