<div class="wrapper">
	<section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/Z4you62.jpg" style="background-image: url('http://i.imgur.com/Z4you62.jpg');">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<img src="http://i.imgur.com/I41PKxv.png" class="align-center" style="height: 150px; width: auto; display: block; margin: 0 auto;" alt="" />

					<div class="module-subtitle font-inc align-center">
						Inhale the future, exhale the past,<br>Live in the moment.
					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

		</div>

	</section>
</div>
<div class="wrapper">
	<!-- TESTIMONIAL -->
	<section class="module-small">

		<div class="container">

			<div class="row">

				<!-- MODULE TITLE -->
				<div class="col-sm-6">
					<h2 class="module-title font-alt">Testimonials</h2>
				</div>
				<!-- /MODULE TITLE -->

				<!-- BLOCKQUOTE -->
				<div class="col-sm-6">
					<blockquote class="font-serif align-right">
						<p>"Arlana is the best yoga teacher ever!"</p>
						<p class="font-inc font-uppercase">- Kristin Donovan</p>
					</blockquote>
				</div>
				<!-- /BLOCKQUOTE -->

				<!-- BLOCKQUOTE -->
				<div class="col-sm-6">
					<blockquote class="font-serif align-right">
						<p>"I've never been so limber in my life!"</p>
						<p class="font-inc font-uppercase">- Brent Joseph</p>
					</blockquote>
				</div>
				<!-- /BLOCKQUOTE -->

			</div>

		</div>

	</section>
	<!-- /TESTIMONIAL -->

		<!-- ABOUT -->
		<section class="module p-t-0 p-b-0" data-background="http://i.imgur.com/BXfR9pf.jpg" style="background-image: url('http://i.imgur.com/BXfR9pf.jpg');">

			<div class="container-fluid">

				<div class="row relative">

					<div class="col-sm-12 col-md-6 col-md-offset-6 col-bg">

						<h2 class="module-title font-alt">About</h2>

						<div class="module-subtitle font-inc">
							Yoga for everybody and every body.
						</div>

						<p>Arlana has practiced yoga for nearly 20 years and has taught classes for 3 years.  She is a dedicated believer in yoga for everybody and every body, and seeks to teach yoga to everyone who thinks they can't do it!</p>

						<p>Arlana currently teaches at Shangri La Holistic Practices on Mondays and Wednesday. She is also available for private and group classes. Please visit <a href="/yoga_classes">Classes</a> or <a href="/pricing">Pricing</a> for more information.</p>

						<ul class="social-list">
							<li><a href="#"><span class=""></span></a></li>
							<li><a href="#"><span class=""></span></a></li>
							<li><a href="#"><span class=""></span></a></li>
						</ul>

					</div>

				</div>

			</div>

		</section>
		<!-- /ABOUT -->

		<!-- CONTACT -->
		<section class="module-small">

			<div class="container">

				<div class="row">

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="fa fa-home"></span>
							</div>
							<div class="content-box-title font-inc">
								Oneonta, NY
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="fa fa-phone"></span>
							</div>
							<div class="content-box-title font-inc">
								Coming Soon!
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="fa fa-envelope"></span>
							</div>
							<div class="content-box-title font-inc">
								<a href="mailto:afyyoga@gmail.com">afyyoga@gmail.com</a>
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

				</div>

			</div>

		</section>
		<!-- /CONTACT -->


	</div>
