<div class="wrapper">
	<section class="module module-header bg-dark bg-dark-50" style="background-color: transparent;">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h1 class="module-title font-alt align-center">AY Yoga</h1>

					<div class="module-subtitle font-inc align-center">
						Inhale the future,<br>Exhale the past.
					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

		</div>

	</section>
</div>
