<div class="wrapper">
	<section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/Z4you62.jpg" style="background-image: url('http://i.imgur.com/Z4you62.jpg');">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h1 class="module-title font-alt align-center">AY Yoga</h1>

					<div class="module-subtitle font-inc align-center">
						Inhale the future,<br>Exhale the past.
					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

		</div>

	</section>
</div>
<div class="wrapper">
	<!-- TESTIMONIAL -->
	<section class="module-small">

		<div class="container">

			<div class="row">

				<!-- MODULE TITLE -->
				<div class="col-sm-6">
					<h2 class="module-title font-alt">Testimonial</h2>
				</div>
				<!-- /MODULE TITLE -->

				<!-- BLOCKQUOTE -->
				<div class="col-sm-6">
					<blockquote class="font-serif align-right">
						<p>"Arlana is the best yoga teacher ever!"</p>
						<p class="font-inc font-uppercase">- Kristin Donovan</p>
					</blockquote>
				</div>
				<!-- /BLOCKQUOTE -->

			</div>

		</div>

	</section>
	<!-- /TESTIMONIAL -->

		<!-- ABOUT -->
		<section class="module p-t-0 p-b-0" data-background="http://i.imgur.com/xQYSsWR.jpg" style="background-image: url('http://i.imgur.com/xQYSsWR.jpg');">

			<div class="container-fluid">

				<div class="row relative">

					<div class="col-sm-12 col-md-6 col-md-offset-6 col-bg">

						<h2 class="module-title font-alt">About</h2>

						<div class="module-subtitle font-inc">
							AY Yoga tag line here
						</div>

						<p>Arlana has been practicing yoga for over 20 years and has been teaching yoga for the last five years.</p>

						<p>She is certified in teaching chair yoga, old people yoga and children's yoga. Arlana teaches at the Unitarian Universalist church in Oneonta, NY, as well as various yoga studios around town.</p>

						<ul class="social-list">
							<li><a href="#"><span class="fa fa-facebook"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-calendar-o"></span></a></li>
						</ul>

					</div>

				</div>

			</div>

		</section>
		<!-- /ABOUT -->

		<!-- CONTACT -->
		<section class="module-small">

			<div class="container">

				<div class="row">

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="fa fa-home"></span>
							</div>
							<div class="content-box-title font-inc">
								Oneonta, NY
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="fa fa-phone"></span>
							</div>
							<div class="content-box-title font-inc">
								Unavailable ATM
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="fa fa-envelope"></span>
							</div>
							<div class="content-box-title font-inc">
								Click Here
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->

				</div>

			</div>

		</section>
		<!-- /CONTACT -->


	</div>
