<div class="wrapper">

	<!-- HOME -->
	<section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/SYq3gmZ.jpg" style="background-image: url('http://i.imgur.com/SYq3gmZ.jpg');">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h1 class="module-title font-alt align-center">Pricing</h1>

					<div class="module-subtitle font-inc align-center">
						Inhale the future, exhale the past,<br>Live in the moment.
					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

		</div>

	</section>
	<!-- /HOME -->

	<!-- DIVIDER -->
	<hr class="divider-w">
	<!-- /DIVIDER -->

	<!-- SERVICES -->
	<section class="module">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h2 class="module-title align-center font-alt">Services</h2>

					<div class="module-subtitle align-center font-inc">
						Inhale the future, exhale the past.
					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

			<div class="row multi-columns-row">

				<!-- CONTENT BOX -->
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="content-box">
						<div class="content-box-icon">
							<span class="fa fa-sun-o"></span>
						</div>
						<div class="content-box-title font-inc font-uppercase">
							Beginner's Yoga
						</div>
						<div class="content-box-text">
							Yoga for those just starting their practice
						</div>
					</div>
				</div>
				<!-- /CONTENT BOX -->

				<!-- CONTENT BOX -->
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="content-box">
						<div class="content-box-icon">
							<span class="fa fa-star-o"></span>
						</div>
						<div class="content-box-title font-inc font-uppercase">
							Intermediate Yoga
						</div>
						<div class="content-box-text">
							Yoga for those who want to advance their practice.
						</div>
					</div>
				</div>
				<!-- /CONTENT BOX -->

				<!-- CONTENT BOX -->
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="content-box">
						<div class="content-box-icon">
							<span class="fa fa-moon-o"></span>
						</div>
						<div class="content-box-title font-inc font-uppercase">
							Advanced Yoga
						</div>
						<div class="content-box-text">
							Yoga for those who have advanced their practice to higher levels.
						</div>
					</div>
				</div>
				<!-- /CONTENT BOX -->

        <!-- CONTENT BOX -->
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="content-box">
            <div class="content-box-icon">
              <span class="fa fa-heart-o"></span>
            </div>
            <div class="content-box-title font-inc font-uppercase">
              All levels Yoga
            </div>
            <div class="content-box-text">
              Yoga for all levels
            </div>
          </div>
        </div>
        <!-- /CONTENT BOX -->

				<!-- CONTENT BOX -->
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="content-box">
						<div class="content-box-icon">
							<span class="fa fa-plus"></span>
						</div>
						<div class="content-box-title font-inc font-uppercase">
							Elderly Yoga
						</div>
						<div class="content-box-text">
							Yoga for elderly people or those with limited mobility.
						</div>
					</div>
				</div>
				<!-- /CONTENT BOX -->

				<!-- CONTENT BOX -->
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="content-box">
						<div class="content-box-icon">
							<span class="fa fa-leaf"></span>
						</div>
						<div class="content-box-title font-inc font-uppercase">
							Children's Yoga
						</div>
						<div class="content-box-text">
							Yoga for children
						</div>
					</div>
				</div>
				<!-- /CONTENT BOX -->

				<!-- CONTENT BOX -->
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="content-box">
						<div class="content-box-icon">
							<span class="fa fa-bolt"></span>
						</div>
						<div class="content-box-title font-inc font-uppercase">
							Chair Yoga
						</div>
						<div class="content-box-text">
							Chair yoga for those with limited mobility.
						</div>
					</div>
				</div>
				<!-- /CONTENT BOX -->

				<!-- CONTENT BOX -->
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="content-box">
						<div class="content-box-icon">
							<span class="fa fa-anchor"></span>
						</div>
						<div class="content-box-title font-inc font-uppercase">
							Beach Yoga
						</div>
						<div class="content-box-text">
							Pay for a trip to the beach, and I'll teach you yoga on the sand!
						</div>
					</div>
				</div>
				<!-- /CONTENT BOX -->

			</div>

		</div>

	</section>
	<!-- /SERVICES -->

	<!-- COUNTERS -->
	<section class="module-small bg-dark bg-dark-50" data-background="http://i.imgur.com/WVAhYNH.jpg" style="background-image: url('http://i.imgur.com/WVAhYNH.jpg');">

		<div class="container">

			<div class="row">

				<!-- COUNTER -->
				<div class="col-sm-3 m-b-md-20">
					<div class="counter-item">
						<div class="counter-number font-alt" data-number="200">
							<span>200</span>
						</div>
						<div class="counter-title font-inc">
							Hours of Certified Teaching
						</div>
					</div>
				</div>
				<!-- /COUNTER -->

				<!-- COUNTER -->
				<div class="col-sm-3 m-b-md-20">
					<div class="counter-item">
						<div class="counter-number font-alt" data-number="150">
							<span>150</span>
						</div>
						<div class="counter-title font-inc">
							Satisfied clients
						</div>
					</div>
				</div>
				<!-- /COUNTER -->

				<!-- COUNTER -->
				<div class="col-sm-3 m-b-md-20">
					<div class="counter-item">
						<div class="counter-number font-alt" data-number="4">
							<span>4</span>
						</div>
						<div class="counter-title font-inc">
							Types of Yoga
						</div>
					</div>
				</div>
				<!-- /COUNTER -->

				<!-- COUNTER -->
				<div class="col-sm-3 m-b-md-20">
					<div class="counter-item">
						<div class="counter-number font-alt" data-number="20">
							<span>20</span>
						</div>
						<div class="counter-title font-inc">
							Years of Practice
						</div>
					</div>
				</div>
				<!-- /COUNTER -->

			</div>

		</div>

	</section>
	<!-- /COUNTERS -->

  <section class="module">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h2 class="module-title align-center font-alt">Pricing</h2>

					<div class="module-subtitle align-center font-inc">

					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

			<div class="row">

				<!-- TEAM MEMBER -->
				<div class="col-sm-6 col-md-3 m-b-md-20">
					<div class="team-item">
						<div class="team-image">
							<img src="http://i.imgur.com/sq1W57B.png" alt="om symbol" style="height: 10em; width: auto;">
							<div class="team-detail">
								<h5 class="font-inc">Single Class</h5>
								<p>Good for any scheduled class.</p>
							</div>
						</div>
						<div class="team-descr font-inc">
							<div class="team-name">Single Class</div>
							<div class="team-role">$8</div>
						</div>
					</div>
				</div>
				<!-- /TEAM MEMBER -->

				<!-- TEAM MEMBER -->
				<div class="col-sm-6 col-md-3 m-b-md-20">
					<div class="team-item">
						<div class="team-image">
							<img src="http://i.imgur.com/x1S1ymH.png" alt="lotus flower" style="height: 10em; width: auto;">
							<div class="team-detail">
								<h5 class="font-inc">10 Class Pack</h5>
								<p>Good for any 10 scheduled classes.</p>
							</div>
						</div>
						<div class="team-descr font-inc">
							<div class="team-name">10 Class Pack</div>
							<div class="team-role">$72</div>
						</div>
					</div>
				</div>
				<!-- /TEAM MEMBER -->

				<!-- TEAM MEMBER -->
				<div class="col-sm-6 col-md-3 m-b-md-20">
					<div class="team-item">
						<div class="team-image">
							<img src="http://i.imgur.com/y2HqKhT.png" alt="lotus pose" style="height: 10em; width: auto;">
							<div class="team-detail">
								<h5 class="font-inc">Group Pricing</h5>
								<p>Special pricing available for groups of 6 or more.</p>
							</div>
						</div>
						<div class="team-descr font-inc">
							<div class="team-name">Group Pricing</div>
							<div class="team-role">Available upon request</div>
						</div>
					</div>
				</div>
				<!-- /TEAM MEMBER -->

				<!-- TEAM MEMBER -->
				<div class="col-sm-6 col-md-3 m-b-md-20">
					<div class="team-item">
						<div class="team-image">
							<img src="http://i.imgur.com/JxLUN9r.png" alt="" style="height: 10em; width: auto;">
							<div class="team-detail">
								<h5 class="font-inc">Private Session</h5>
								<p>Private instruction for one or two people</p>
							</div>
						</div>
						<div class="team-descr font-inc">
							<div class="team-name">Private Session</div>
							<div class="team-role">Available upon request</div>
						</div>
					</div>
				</div>
				<!-- /TEAM MEMBER -->

			</div>

		</div>

	</section>

	<!-- DIVIDER -->
	<hr class="divider-w">
	<!-- /DIVIDER -->

</div>
