<div class="wrapper">

	<!-- HOME -->
	<section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/SYq3gmZ.jpg" style="background-image: url('http://i.imgur.com/SYq3gmZ.jpg');">

		<div class="container" style="position: relative; top: -100px;">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h1 class="module-title font-alt align-center">Albums</h1>

					<div class="module-subtitle font-inc align-center">
						 
					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

		</div>

	</section>
  <section class="module-small p-t-20 p-b-60">

			<div class="container">

			</div>

			<!-- PORTFOLIO LIST -->
			<ul id="works-grid" class="works-grid works-grid-gut works-grid-3 works-hover-w" style="position: relative; height: 640.407px;">

				<!-- PORTFOLIO ITEM -->
        <% @albums.each do |album| %>
				<li class="work-item illustration webdesign" style="margin-bottom: 10px;">
					<a href="/albums/<%= album.id %>">
						<div class="work-image">
							<img src="<%= album.cover %>" alt="">
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt"><%= album.name %></h3>
							<div class="work-descr font-inc">
								<%= album.description %>
							</div>
						</div>
					</a>
				</li>
        <% end %>
				<!-- /PORTFOLIO ITEM -->

			</ul>
			<!-- /PORTFOLIO LIST -->

		</section>

</div>
